
<!-- To start on the work comment this line out -->
<!-- <div class="flex justify-center items-center h-screen bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500">
    <h1 class="text-5xl font-extrabold text-white animate-pulse">
        Good luck on the CRUD operations ❤️
    </h1>
</div> -->

<!-- class binding to ccs -->
<!-- <h1 [class.text-red]="bool">Angular App</h1>
<h1 [style.color]="bool ? 'red':'black'" >Style binding</h1>
<p>{{message}}</p> -->
<!-- <app-service-implementation></app-service-implementation> -->


<!-- You have to put this in order for the component to appear -->
<!-- <app-post [fromParent]='parentMessage' (messageEvent)='receiveMessage($event)'></app-post> -->

<!-- <app-post (messageEvent)="receiveMessage($event)"></app-post> -->


<!-- Interpolation -->





<!-- <app-ng-templates></app-ng-templates> -->
<!-- <app-angular-forms></app-angular-forms> -->
<app-angular-reactive-form></app-angular-reactive-form>
<!-- <app-switch-case></app-switch-case>
<app-ng-style></app-ng-style>
<app-ng-class></app-ng-class> -->
<!-- <app-task2></app-task2> -->
<!-- <app-pipes></app-pipes> -->


<!-- property binding -->
<!-- <img [src]="imgUrl" alt="My image"> -->


<!-- Event filtering -->

<!-- Two way data binding using template variable-->
<!-- <input type="text" (keyup.enter)="onKeyup(userName.value)" #userName> <br> -->

<!-- Special syntax for 2 way data binding -->
<!-- <input type="text"  [(ngModel)]="userName" (keyup.enter)="onKeyup( )"><br> -->

<!-- One way data binding . We can only set data from component to view -->
<!-- <input type="text" [value]="textValue" (keyup.enter)="onClick()"> -->





